# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/

# Conda
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Project artifacts
models/
outputs/
checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# models
models/*
!models/.gitkeep
repo_map.txt
